<template>
    <v-container>
        <v-card class="pa-4 mb-4 text-h4" color="primary">
            숫자 > 진법 변환
            <div class="text-h6 font-color-subtitle">bin, dec, oct, hex 네가지의 변환을 제공합니다.</div>
        </v-card>
        <v-card color="primary">
            <!-- <v-card-title class="text-h5"></v-card-title> -->
            <v-card-item>
                <v-row>
                    <v-col cols="12" md="6">

                        <p class="text-h6 mb-2">2진법</p>
                        <v-text-field
                            label="Binary"
                            variant="outlined"
                            density="comfortable"
                            v-model="baseModel.binNum"
                            :counter="100"
                            :maxlength="100"
                            append-inner-icon="mdi-content-copy"
                            clearable
                            @update:modelValue="binFieldUpdateHandler"
                            @click:append-inner="copyContent(baseModel.binNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">8진법</p>
                        <v-text-field
                            label="Octal"
                            variant="outlined"
                            density="comfortable"
                            v-model="baseModel.octNum"
                            :counter="40"
                            :maxlength="40"
                            append-inner-icon="mdi-content-copy"
                            clearable
                            @update:modelValue="octFieldUpdateHandler"
                            @click:append-inner="copyContent(baseModel.octNum)"
                        ></v-text-field>
                    </v-col>

                    <v-divider class="desktop-display-none mb-4"></v-divider>

                    <v-col cols="12" md="6">
                        
                        <p class="text-h6 mb-2">10진법</p>
                        <v-text-field
                            label="Decimal"
                            variant="outlined"
                            density="comfortable"
                            v-model="baseModel.decNum"
                            :counter="24"
                            :maxlength="24"
                            append-inner-icon="mdi-content-copy"
                            clearable
                            @update:modelValue="decFieldUpdateHandler"
                            @click:append-inner="copyContent(baseModel.decNum)"
                        ></v-text-field>
                        
                        <p class="text-h6 mb-2">16진법</p>
                        <v-text-field
                            label="Hexadecimal"
                            variant="outlined"
                            density="comfortable"
                            v-model="baseModel.hexNum"
                            :counter="24"
                            :maxlength="24"
                            append-inner-icon="mdi-content-copy"
                            clearable
                            @update:modelValue="hexFieldUpdateHandler"
                            @click:append-inner="copyContent(baseModel.hexNum)"
                        ></v-text-field>
                    </v-col>
                </v-row>
            </v-card-item>
        </v-card>
        <!-- <v-card color="primary mt-4">
            <v-card-title class="mt-4 text-h4">자릿수 구분</v-card-title>
            <v-card-item>
                <v-row>
                    <v-col cols="12" md="6">
                        
                        <p class="text-h6 mb-2">2진법</p>
                        <v-textarea
                            label="Binary"
                            variant="outlined"
                            density="comfortable"
                            v-model="baseModel.sepaBinNum"
                            :counter="100"
                            :maxlength="100"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="sepaBinFieldUpdateHandler"
                            @click:append-inner="copyContent(baseModel.sepaBinNum)"
                            no-resize
                        >
                        </v-textarea>

                        <p class="text-h6 mb-2">8진법</p>
                        <v-textarea
                            label="Octal"
                            variant="outlined"
                            density="comfortable"
                            v-model="baseModel.sepaOctNum"
                            :counter="100"
                            :maxlength="100"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="sepaOctFieldUpdateHandler"
                            @click:append-inner="copyContent(baseModel.sepaOctNum)"
                            no-resize
                        >
                        </v-textarea>
                    </v-col>
                    <v-col cols="12" md="6">

                        <p class="text-h6 mb-2">10진법</p>
                        <v-textarea
                        variant="outlined"
                        >
                        </v-textarea>

                        <p class="text-h6 mb-2">16진법</p>
                        <v-textarea
                            label="Hexadecimal"
                            variant="outlined"
                            density="comfortable"
                            v-model="baseModel.hexNum"
                            :counter="24"
                            :maxlength="24"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="hexFieldUpdateHandler"
                            @click:append-inner="copyContent(baseModel.hexNum)"
                            no-resize
                        >
                        </v-textarea>
                    </v-col>
                </v-row>
            </v-card-item>
        </v-card> -->
    </v-container>
</template>

<script setup>
import { ref, defineEmits } from 'vue';

const emit = defineEmits(["copyContent"]);
const copyContent = (content) => {
    emit("copyContent", content);
}

const baseModel = ref({
    binNum: 0,
    octNum: 0,
    decNum: 0,
    hexNum: 0,
    // sepaBinNum: 0,
    // sepaOctNum: 0,
    // sepaDecNum: 0,
    // sepaHexNum: 0
})

const binFieldUpdateHandler = () => {
    baseModel.value.octNum = parseInt(baseModel.value.binNum, 2).toString(8);
    baseModel.value.decNum = parseInt(baseModel.value.binNum, 2);
    baseModel.value.hexNum = parseInt(baseModel.value.binNum, 2).toString(16);

    // separatedBinary();
    // separatedOctal();
}

const octFieldUpdateHandler = () => {
    baseModel.value.binNum = parseInt(baseModel.value.octNum, 8).toString(2);
    baseModel.value.decNum = parseInt(baseModel.value.octNum, 8);
    baseModel.value.hexNum = parseInt(baseModel.value.octNum, 8).toString(16);
}

const decFieldUpdateHandler = () => {
    baseModel.value.binNum = parseInt(baseModel.value.decNum).toString(2);
    baseModel.value.octNum = parseInt(baseModel.value.decNum).toString(8);
    baseModel.value.hexNum = parseInt(baseModel.value.decNum).toString(16);
}

const hexFieldUpdateHandler = () => {
    baseModel.value.binNum = parseInt(baseModel.value.hexNum, 16).toString(2);
    baseModel.value.octNum = parseInt(baseModel.value.hexNum, 16).toString(8);
    baseModel.value.decNum = parseInt(baseModel.value.hexNum, 16);
}

// const binCoeff = 8;
// const separatedBinary = () => {
//     const inputBinNum = baseModel.value.binNum;
//     const regex = /^[0-1]*$/;
//     if(!regex.test(inputBinNum)) {
//         return false;
//     };

//     let sepaBinNumArr = [];
//     for(let i = 0; i < inputBinNum.length; i += binCoeff) {
//         const lastLen = (parseInt( i / binCoeff ) + 1) * binCoeff;
//         const octSet = inputBinNum.substring(i, lastLen);
//         const paddNum = String(octSet).padStart(binCoeff, "0");
//         sepaBinNumArr.push(paddNum);
//     }
//     baseModel.value.sepaBinNum = sepaBinNumArr.join(' ');
// }

// const octCoeff = 3;
// const separatedOctal = () => {
//     const inputOctNum = baseModel.value.octNum;
//     const regex = /^[0-7]*$/;
//     if(!regex.test(inputOctNum)) {
//         return false;
//     };

//     let sepaOctNumArr = [];
//     for(let i = 0; i < inputOctNum.length; i += octCoeff) {
//         const lastLen = (parseInt( i / octCoeff ) + 1) * octCoeff;
//         const octSet = inputOctNum.substring(i, lastLen);
//         const paddNum = String(octSet).padStart(octCoeff, "0");
//         sepaOctNumArr.push(paddNum);
//     }
//     baseModel.value.sepaOctNum = sepaOctNumArr.join(' ');
// }
</script>