// Breakpoints
$breakpoint-mobile: 1px;
$breakpoint-tablet: 620px;
$breakpoint-middle: 960px;
$breakpoint-desktop: 1660px;
@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-middle - 1px}) {
    @content;
  }
}

@mixin middle {
  @media (min-width: #{$breakpoint-middle}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}