/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

@use 'vuetify/settings' with (
    $utilities: 'false',
    $color-pack: 'true',
    $body-font-family: Giants
);

@import "./_formMixin.scss";

@font-face {
    font-family: 'Giants';
    font-style: normal;
    font-weight: 100;
    src: url('@/assets/fonts/Giants-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Giants';
    font-style: normal;
    font-weight: 300;
    src: url('@/assets/fonts/Giants-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Giants';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/Giants-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Giants';
    font-style: normal;
    font-weight: 500;
    src: url('@/assets/fonts/Giants-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Giants';
    font-style: normal;
    font-weight: 700;
    src: url('@/assets/fonts/Giants-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Giants';
    font-style: normal;
    font-weight: 900;
    src: url('@/assets/fonts/Giants-Bold.otf') format('opentype');
}

.app-bar-wrap{
    height: 60px;
}

.text-h7 {
    font-size: 15px !important;
    line-height: 1rem !important;
}

.text-h8 {
    font-size: 14px !important;
    line-height: 1.3rem !important;
}

.text-h9 {
    font-size: 12px !important;
    line-height: 1rem !important;
}

.full-width {
    width: 100%;
}

.post-content-html-view img {
    max-width: 100%;
}

.ql-editor p {
    white-space: normal !important;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.mb-1px {
    margin-bottom: 1px;
}

.mb-2px {
    margin-bottom: 2px;
}

.mb-3px {
    margin-bottom: 3px;
}

.flex {
    display: flex;
}

.layer-top-1 {
    z-index: 1;
}

.layer-top-2 {
    z-index: 2;
}

.font-color-subtitle {
    color: #CCC;
}

.border-opacity-30 {
    --v-border-opacity: 0.3 !important;
}

@include mobile {
    .mobile-display-none {
        display: none;
    }
    .text-h1 {
        font-size: 40px !important;
        line-height: 2rem !important;
    }
    .text-h2 {
        font-size: 30px !important;
        line-height: 2rem !important;
    }
    .text-h3 {
        font-size: 25px !important;
        line-height: 2rem !important;
    }
    .text-h4 {
        font-size: 20px !important;
        line-height: 2rem !important;
    }
    .text-h5 {
        font-size: 18px !important;
        line-height: 1.5rem !important;
    }
    .text-h6 {
        font-size: 15px !important;
        line-height: 1.5rem !important;
    }
    .text-h7 {
        font-size: 12px !important;
        line-height: 1.5rem !important;
    }
    .text-body-2 {
        font-size: 10px !important;
        line-height: 1rem !important;
    }
    .mb-6 {
        margin-bottom: 12px !important;
    }
    .ml-4 {
        margin-left: 8px !important; 
    }
    .px-8 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    .py-10 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .app-bar-wrap-title {
        margin-left: 0px !important;
    }
    .app-bar-inner-row {
        width: 220px;
    }
    .app-bar-img1 {
        width: 40px;
    }
    .app-bar-img2 {
        width: 100px;
    }
    .app-bar-nav {
        font-size: 20px;
        margin-top: -5px;
    }
    .ql-editor p {
        margin-bottom: 10px !important
    }
    .admin-user-search-form {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@include tablet {
    .mobile-display-none{
        display: none;
    }
    .text-h1 {
        font-size: 40px !important;
        line-height: 2rem !important;
    }
    .text-h2 {
        font-size: 30px !important;
        line-height: 2rem !important;
    }
    .text-h3 {
        font-size: 25px !important;
        line-height: 2rem !important;
    }
    .text-h4 {
        font-size: 20px !important;
        line-height: 2rem !important;
    }
    .text-h5 {
        font-size: 18px !important;
        line-height: 1.5rem !important;
    }
    .text-h6 {
        font-size: 15px !important;
        line-height: 1.5rem !important;
    }
    .text-h7 {
        font-size: 12px !important;
        line-height: 1.5rem !important;
    }
    .text-body-2 {
        font-size: 10px !important;
        line-height: 1rem !important;
    }
    .mb-6 {
        margin-bottom: 12px !important;
    }
    .img-card {
        width: 200px;
    }
    .app-bar-wrap-title {
        margin-left: 0px !important;
    }
    .app-bar-inner-row {
        width: 300px;
    }
    .app-bar-img1 {
        width: 20px;
        margin-top: -20px;
    }
    .app-bar-img2 {
        width: 130px;
        margin-top: -10px;
    }
    .app-bar-nav {
        font-size: 35px;
        margin-top: 20px;
    }
    .admin-user-search-form {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@include middle {
    .desktop-display-none {
        display: none;
    }
}

@include desktop {
    .desktop-display-none {
        display: none;
    }
}