<template>
    <v-container>
        <v-card class="pa-4 mb-4 text-h4" color="primary">
            단위 > 넓이 단위 변환
            <div class="text-h6 font-color-subtitle">넓이 도량형의 단위 변환을 제공합니다.</div>
        </v-card>
        <v-card color="primary">
            <v-card-item>
                <v-row>
                    <v-col cols="12" md="6">

                        <p class="text-h6 mb-2">제곱미터</p>
                        <v-text-field
                            label="m²"
                            variant="outlined"
                            density="comfortable"
                            v-model="areaModel.mNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="m²"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="mFieldUpdateHandler"
                            @click:append-inner="copyContent(areaModel.mNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">제곱킬로미터</p>
                        <v-text-field
                            label="Km²"
                            variant="outlined"
                            density="comfortable"
                            v-model="areaModel.kmNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="km²"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="kmFieldUpdateHandler"
                            @click:append-inner="copyContent(areaModel.kmNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">제곱피트</p>
                        <v-text-field
                            label="ft²"
                            variant="outlined"
                            density="comfortable"
                            v-model="areaModel.ftNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="ft²"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="ftFieldUpdateHandler"
                            @click:append-inner="copyContent(areaModel.ftNum)"
                            ></v-text-field>
                            
                            <p class="text-h6 mb-2">제곱야드</p>
                            <v-text-field
                            label="yd²"
                            variant="outlined"
                            density="comfortable"
                            v-model="areaModel.ydNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="yd²"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="ydFieldUpdateHandler"
                            @click:append-inner="copyContent(areaModel.ydNum)"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">

                        <p class="text-h6 mb-2">평</p>
                        <v-text-field
                            label="Pyung"
                            variant="outlined"
                            density="comfortable"
                            v-model="areaModel.pyNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="py"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="pyFieldUpdateHandler"
                            @click:append-inner="copyContent(areaModel.pyNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">아르</p>
                        <v-text-field
                            label="Are"
                            variant="outlined"
                            density="comfortable"
                            v-model="areaModel.arNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="a"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="arFieldUpdateHandler"
                            @click:append-inner="copyContent(areaModel.arNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">헥타르</p>
                        <v-text-field
                            label="Hectare"
                            variant="outlined"
                            density="comfortable"
                            v-model="areaModel.haNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="ha"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="haFieldUpdateHandler"
                            @click:append-inner="copyContent(areaModel.haNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">에이커</p>
                        <v-text-field
                            label="Acre"
                            variant="outlined"
                            density="comfortable"
                            v-model="areaModel.acNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="ac"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="acFieldUpdateHandler"
                            @click:append-inner="copyContent(areaModel.acNum)"
                        ></v-text-field>
                        
                    </v-col>
                </v-row>
            </v-card-item>
        </v-card>
    </v-container>
</template>

<script setup>
import { ref, defineEmits } from 'vue';

const emit = defineEmits(["copyContent"]);
const copyContent = (content) => {
    emit("copyContent", content);
}

const areaModel = ref({
    mNum: 0,
    kmNum: 0,
    ftNum: 0,
    ydNum: 0,
    pyNum: 0,
    arNum: 0,
    haNum: 0,
    acNum: 0
})

const mFieldUpdateHandler = () => {
    areaModel.value.kmNum = Math.round(areaModel.value.mNum / 1000000 * 100) / 100;
    areaModel.value.ftNum = Math.round(areaModel.value.mNum * 10.76391041670972 * 100) / 100;
    areaModel.value.ydNum = Math.round(areaModel.value.mNum * 1.195990046301081 * 100) / 100;
    areaModel.value.pyNum = Math.round(areaModel.value.mNum * 0.3025 * 100) / 100;
    areaModel.value.arNum = Math.round(areaModel.value.mNum / 100 * 100) / 100;
    areaModel.value.haNum = Math.round(areaModel.value.mNum / 10000 * 100) / 100;
    areaModel.value.acNum = Math.round(areaModel.value.mNum * 0.000247105381467165344 * 100) / 100;
}

const kmFieldUpdateHandler = () => {
    areaModel.value.mNum = Math.round(areaModel.value.kmNum * 1000000 * 100) / 100;
    areaModel.value.ftNum = Math.round(areaModel.value.kmNum * 10763910.41670972 * 100) / 100;
    areaModel.value.ydNum = Math.round(areaModel.value.kmNum * 1195990.046301081 * 100) / 100;
    areaModel.value.pyNum = Math.round(areaModel.value.kmNum * 302500 * 100) / 100;
    areaModel.value.arNum = Math.round(areaModel.value.kmNum * 10000 * 100) / 100;
    areaModel.value.haNum = Math.round(areaModel.value.kmNum * 100 * 100) / 100;
    areaModel.value.acNum = Math.round(areaModel.value.kmNum * 247.105381467165344 * 100) / 100;
}

const ftFieldUpdateHandler = () => {
    areaModel.value.mNum = Math.round(areaModel.value.ftNum * 0.09290304 * 100) / 100;
    areaModel.value.kmNum = Math.round(areaModel.value.ftNum * 0.00000009290304 * 100) / 100;
    areaModel.value.ydNum = Math.round(areaModel.value.ftNum * 0.11111111111111 * 100) / 100;
    areaModel.value.pyNum = Math.round(areaModel.value.ftNum * 0.0281031696 * 100) / 100;
    areaModel.value.arNum = Math.round(areaModel.value.ftNum * 0.000929030400007433 * 100) / 100;
    areaModel.value.haNum = Math.round(areaModel.value.ftNum * 0.00000929030400007433 * 100) / 100;
    areaModel.value.acNum = Math.round(areaModel.value.ftNum / 43560 * 100) / 100;
}

const ydFieldUpdateHandler = () => {
    areaModel.value.mNum = Math.round(areaModel.value.ydNum * 0.83612736 * 100) / 100;
    areaModel.value.kmNum = Math.round(areaModel.value.ydNum * 0.00000083612736 * 100) / 100;
    areaModel.value.ftNum = Math.round(areaModel.value.ydNum * 9 * 100) / 100;
    areaModel.value.pyNum = Math.round(areaModel.value.ydNum * 0.2529285264 * 100) / 100;
    areaModel.value.arNum = Math.round(areaModel.value.ydNum * 0.0083612736 * 100) / 100;
    areaModel.value.haNum = Math.round(areaModel.value.ydNum * 0.000083612736 * 100) / 100;
    areaModel.value.acNum = Math.round(areaModel.value.ydNum / 4840 * 100) / 100;
}

const pyFieldUpdateHandler = () => {
    areaModel.value.mNum = Math.round(areaModel.value.pyNum / 0.3025 * 100) / 100;
    areaModel.value.kmNum = Math.round(areaModel.value.pyNum / 302500 * 100) / 100;
    areaModel.value.ftNum = Math.round(areaModel.value.mNum * 10.76391041670972 * 100) / 100;
    areaModel.value.ydNum = Math.round(areaModel.value.mNum * 1.195990046301081 * 100) / 100;
    areaModel.value.arNum = Math.round(areaModel.value.pyNum / 30.25 * 100) / 100;
    areaModel.value.haNum = Math.round(areaModel.value.pyNum / 3025 * 100) / 100;
    areaModel.value.acNum = Math.round(areaModel.value.pyNum / 1224.168559 * 100) / 100;
}

const arFieldUpdateHandler = () => {
    areaModel.value.mNum = Math.round(areaModel.value.arNum * 100 * 100) / 100;
    areaModel.value.kmNum = Math.round(areaModel.value.mNum * 0.000001 * 100) / 100;
    areaModel.value.ftNum = Math.round(areaModel.value.mNum * 10.76391041670972 * 100) / 100;
    areaModel.value.ydNum = Math.round(areaModel.value.mNum * 1.195990046301081 * 100) / 100;
    areaModel.value.pyNum = Math.round(areaModel.value.mNum * 0.3025 * 100) / 100;
    areaModel.value.haNum = Math.round(areaModel.value.mNum / 10000 * 100) / 100;
    areaModel.value.acNum = Math.round(areaModel.value.mNum * 0.000247105381467165344 * 100) / 100;
}

const haFieldUpdateHandler = () => {
    areaModel.value.mNum = Math.round(areaModel.value.haNum * 10000 * 100) / 100;
    areaModel.value.kmNum = Math.round(areaModel.value.mNum * 0.000001 * 100) / 100;
    areaModel.value.ftNum = Math.round(areaModel.value.mNum * 10.76391041670972 * 100) / 100;
    areaModel.value.ydNum = Math.round(areaModel.value.mNum * 1.195990046301081 * 100) / 100;
    areaModel.value.pyNum = Math.round(areaModel.value.mNum * 0.3025 * 100) / 100;
    areaModel.value.arNum = Math.round(areaModel.value.mNum / 100 * 100) / 100;
    areaModel.value.acNum = Math.round(areaModel.value.mNum * 0.000247105381467165344 * 100) / 100;
}

const acFieldUpdateHandler = () => {
    areaModel.value.ydNum = Math.round(areaModel.value.acNum * 4840 * 100) / 100;
    areaModel.value.mNum = Math.round(areaModel.value.ydNum * 0.83612736 * 100) / 100;
    areaModel.value.kmNum = Math.round(areaModel.value.ydNum * 0.00000083612736 * 100) / 100;
    areaModel.value.ftNum = Math.round(areaModel.value.ydNum * 9 * 100) / 100;
    areaModel.value.pyNum = Math.round(areaModel.value.ydNum * 0.2529285264 * 100) / 100;
    areaModel.value.arNum = Math.round(areaModel.value.ydNum * 0.0083612736 * 100) / 100;
    areaModel.value.haNum = Math.round(areaModel.value.ydNum * 0.000083612736 * 100) / 100;
}
</script>