<template>
    <v-container>
        <v-card class="pa-4 mb-4 text-h4" color="primary">
            단위 > 데이터 단위 변환
            <div class="text-h6 font-color-subtitle">바이트 ~ 제타바이트 사이의 단위 변환을 제공합니다.</div>
        </v-card>
        <v-card color="primary">
            <v-card-item>
                <v-row>
                    <v-col cols="12">
                        <v-radio-group inline v-model="prefixType" @update:model-value="prefixRadioUpdateHandler()" hide-details>
                            <v-radio class="mr-5" label="이진법 Prefix (GB)" :value="1024" selected></v-radio>
                            <v-radio label="십진법 Prefix (GiB)" :value="1000"></v-radio>
                        </v-radio-group>
                    </v-col>
                    <v-col cols="12" md="6">

                        <p class="text-h6 mb-2">바이트</p>
                        <v-text-field
                            label="Byte"
                            variant="outlined"
                            density="comfortable"
                            v-model="numModel.byteNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="Byte"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="byteFieldUpdateHandler"
                            @click:append-inner="copyContent(numModel.byteNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">킬로바이트</p>
                        <v-text-field
                            :label="'K' + byteNmPostfixLabel"
                            variant="outlined"
                            density="comfortable"
                            v-model="numModel.kbNum"
                            :counter="24"
                            :maxlength="24"
                            :suffix="'K' + byteNmPostfixLabel"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="kbyteFieldUpdateHandler"
                            @click:append-inner="copyContent(numModel.kbNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">메가바이트</p>
                        <v-text-field
                            :label="'M' + byteNmPostfixLabel"
                            variant="outlined"
                            density="comfortable"
                            v-model="numModel.mbNum"
                            :counter="24"
                            :maxlength="24"
                            :suffix="'M' + byteNmPostfixLabel"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="mbyteFieldUpdateHandler"
                            @click:append-inner="copyContent(numModel.mbNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">기가바이트</p>
                        <v-text-field
                            :label="'G' + byteNmPostfixLabel"
                            variant="outlined"
                            density="comfortable"
                            v-model="numModel.gbNum"
                            :counter="24"
                            :maxlength="24"
                            :suffix="'G' + byteNmPostfixLabel"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="gbyteFieldUpdateHandler"
                            @click:append-inner="copyContent(numModel.gbNum)"
                        ></v-text-field>
                        
                    </v-col>

                    <v-divider class="desktop-display-none mb-4"></v-divider>

                    <v-col cols="12" md="6">

                        <p class="text-h6 mb-2">테라바이트</p>
                        <v-text-field
                            :label="'T' + byteNmPostfixLabel"
                            variant="outlined"
                            density="comfortable"
                            v-model="numModel.tbNum"
                            :counter="24"
                            :maxlength="24"
                            :suffix="'T' + byteNmPostfixLabel"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="tbyteFieldUpdateHandler"
                            @click:append-inner="copyContent(numModel.tbNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">페타바이트</p>
                        <v-text-field
                            :label="'P' + byteNmPostfixLabel"
                            variant="outlined"
                            density="comfortable"
                            v-model="numModel.pbNum"
                            :counter="24"
                            :maxlength="24"
                            :suffix="'P' + byteNmPostfixLabel"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="pbyteFieldUpdateHandler"
                            @click:append-inner="copyContent(numModel.pbNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">엑사바이트</p>
                        <v-text-field
                            :label="'E' + byteNmPostfixLabel"
                            variant="outlined"
                            density="comfortable"
                            v-model="numModel.ebNum"
                            :counter="24"
                            :maxlength="24"
                            :suffix="'E' + byteNmPostfixLabel"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="ebyteFieldUpdateHandler"
                            @click:append-inner="copyContent(numModel.ebNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">제타바이트</p>
                        <v-text-field
                            :label="'Z' + byteNmPostfixLabel"
                            variant="outlined"
                            density="comfortable"
                            v-model="numModel.zbNum"
                            :counter="24"
                            :maxlength="24"
                            :suffix="'Z' + byteNmPostfixLabel"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="zbyteFieldUpdateHandler"
                            @click:append-inner="copyContent(numModel.zbNum)"
                        ></v-text-field>

                    </v-col>
                </v-row>
            </v-card-item>
        </v-card>
    </v-container>
</template>

<script setup>
import { ref, defineEmits } from 'vue';

const emit = defineEmits(["copyContent"]);
const copyContent = (content) => {
    emit("copyContent", content);
}

const prefixType = ref(1024);
const byteNmPostfixLabel = ref('B');
const numModel = ref({
    byteNum: '',
    kbNum: 0,
    mbNum: 0,
    gbNum: 0,
    tbNum: 0,
    pbNum: 0,
    ebNum: 0,
    zbNum: 0,
})

const prefixRadioUpdateHandler = () => {
    byteNmPostfixLabel.value = prefixType.value === 1024 ? 'B' : 'iB';
    numModel.value.kbNum = Math.trunc(numModel.value.byteNum / prefixType.value);
    numModel.value.mbNum = Math.trunc(numModel.value.kbNum / prefixType.value);
    numModel.value.gbNum = Math.trunc(numModel.value.mbNum / prefixType.value);
    numModel.value.tbNum = Math.trunc(numModel.value.gbNum / prefixType.value);
    numModel.value.pbNum = Math.trunc(numModel.value.tbNum / prefixType.value);
    numModel.value.ebNum = Math.trunc(numModel.value.pbNum / prefixType.value);
    numModel.value.zbNum = Math.trunc(numModel.value.ebNum / prefixType.value);
}

const byteFieldUpdateHandler = () => {
    numModel.value.kbNum = Math.trunc(numModel.value.byteNum / prefixType.value);
    numModel.value.mbNum = Math.trunc(numModel.value.kbNum / prefixType.value);
    numModel.value.gbNum = Math.trunc(numModel.value.mbNum / prefixType.value);
    numModel.value.tbNum = Math.trunc(numModel.value.gbNum / prefixType.value);
    numModel.value.pbNum = Math.trunc(numModel.value.tbNum / prefixType.value);
    numModel.value.ebNum = Math.trunc(numModel.value.pbNum / prefixType.value);
    numModel.value.zbNum = Math.trunc(numModel.value.ebNum / prefixType.value);
}

const kbyteFieldUpdateHandler = () => {
    numModel.value.byteNum = numModel.value.kbNum * prefixType.value;
    numModel.value.mbNum = Math.trunc(numModel.value.kbNum / prefixType.value);
    numModel.value.gbNum = Math.trunc(numModel.value.mbNum / prefixType.value);
    numModel.value.tbNum = Math.trunc(numModel.value.gbNum / prefixType.value);
    numModel.value.pbNum = Math.trunc(numModel.value.tbNum / prefixType.value);
    numModel.value.ebNum = Math.trunc(numModel.value.pbNum / prefixType.value);
    numModel.value.zbNum = Math.trunc(numModel.value.ebNum / prefixType.value);
}

const mbyteFieldUpdateHandler = () => {
    numModel.value.kbNum = numModel.value.mbNum * prefixType.value;
    numModel.value.byteNum = numModel.value.kbNum * prefixType.value;
    numModel.value.gbNum = Math.trunc(numModel.value.mbNum / prefixType.value);
    numModel.value.tbNum = Math.trunc(numModel.value.gbNum / prefixType.value);
    numModel.value.pbNum = Math.trunc(numModel.value.tbNum / prefixType.value);
    numModel.value.ebNum = Math.trunc(numModel.value.pbNum / prefixType.value);
    numModel.value.zbNum = Math.trunc(numModel.value.ebNum / prefixType.value);
}

const gbyteFieldUpdateHandler = () => {
    numModel.value.mbNum = numModel.value.gbNum * prefixType.value;
    numModel.value.kbNum = numModel.value.mbNum * prefixType.value;
    numModel.value.byteNum = numModel.value.kbNum * prefixType.value;
    numModel.value.tbNum = Math.trunc(numModel.value.gbNum / prefixType.value);
    numModel.value.pbNum = Math.trunc(numModel.value.tbNum / prefixType.value);
    numModel.value.ebNum = Math.trunc(numModel.value.pbNum / prefixType.value);
    numModel.value.zbNum = Math.trunc(numModel.value.ebNum / prefixType.value);
}

const tbyteFieldUpdateHandler = () => {
    numModel.value.gbNum = numModel.value.tbNum * prefixType.value;
    numModel.value.mbNum = numModel.value.gbNum * prefixType.value;
    numModel.value.kbNum = numModel.value.mbNum * prefixType.value;
    numModel.value.byteNum = numModel.value.kbNum * prefixType.value;
    numModel.value.pbNum = Math.trunc(numModel.value.tbNum / prefixType.value);
    numModel.value.ebNum = Math.trunc(numModel.value.pbNum / prefixType.value);
    numModel.value.zbNum = Math.trunc(numModel.value.ebNum / prefixType.value);
}

const pbyteFieldUpdateHandler = () => {
    numModel.value.tbNum = numModel.value.pbNum * prefixType.value;
    numModel.value.gbNum = numModel.value.tbNum * prefixType.value;
    numModel.value.mbNum = numModel.value.gbNum * prefixType.value;
    numModel.value.kbNum = numModel.value.mbNum * prefixType.value;
    numModel.value.byteNum = numModel.value.kbNum * prefixType.value;
    numModel.value.ebNum = Math.trunc(numModel.value.pbNum / prefixType.value);
    numModel.value.zbNum = Math.trunc(numModel.value.ebNum / prefixType.value);
}

const ebyteFieldUpdateHandler = () => {
    numModel.value.pbNum = numModel.value.ebNum * prefixType.value;
    numModel.value.tbNum = numModel.value.pbNum * prefixType.value;
    numModel.value.gbNum = numModel.value.tbNum * prefixType.value;
    numModel.value.mbNum = numModel.value.gbNum * prefixType.value;
    numModel.value.kbNum = numModel.value.mbNum * prefixType.value;
    numModel.value.byteNum = numModel.value.kbNum * prefixType.value;
    numModel.value.zbNum = Math.trunc(numModel.value.ebNum / prefixType.value);
}

const zbyteFieldUpdateHandler = () => {
    numModel.value.ebNum = numModel.value.zbNum * prefixType.value;
    numModel.value.pbNum = numModel.value.ebNum * prefixType.value;
    numModel.value.tbNum = numModel.value.pbNum * prefixType.value;
    numModel.value.gbNum = numModel.value.tbNum * prefixType.value;
    numModel.value.mbNum = numModel.value.gbNum * prefixType.value;
    numModel.value.kbNum = numModel.value.mbNum * prefixType.value;
    numModel.value.byteNum = numModel.value.kbNum * prefixType.value;
}
</script>