<template>
    <v-container>
        <v-card class="pa-4 mb-4 text-h4" color="primary">
            단위 > 길이 단위 변환
            <div class="text-h6 font-color-subtitle">길이 도량형의 단위 변환을 제공합니다.</div>
        </v-card>
        <v-card color="primary">
            <v-card-item>
                <v-row>
                    <v-col cols="12" md="6">

                        <p class="text-h6 mb-2">밀리미터</p>
                        <v-text-field
                            label="Millimeter"
                            variant="outlined"
                            density="comfortable"
                            v-model="distanceModel.mmNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="mm"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="mmFieldUpdateHandler"
                            @click:append-inner="copyContent(distanceModel.mmNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">센티미터</p>
                        <v-text-field
                            label="Centimeter"
                            variant="outlined"
                            density="comfortable"
                            v-model="distanceModel.cmNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="cm"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="cmFieldUpdateHandler"
                            @click:append-inner="copyContent(distanceModel.cmNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">미터</p>
                        <v-text-field
                            label="Meter"
                            variant="outlined"
                            density="comfortable"
                            v-model="distanceModel.mNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="m"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="mFieldUpdateHandler"
                            @click:append-inner="copyContent(distanceModel.mNum)"
                            ></v-text-field>
                            
                            <p class="text-h6 mb-2">킬로미터</p>
                            <v-text-field
                            label="Kilometer"
                            variant="outlined"
                            density="comfortable"
                            v-model="distanceModel.kmNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="km"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="kmFieldUpdateHandler"
                            @click:append-inner="copyContent(distanceModel.kmNum)"
                        ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">

                        <p class="text-h6 mb-2">인치</p>
                        <v-text-field
                            label="Inch"
                            variant="outlined"
                            density="comfortable"
                            v-model="distanceModel.inNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="in"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="inFieldUpdateHandler"
                            @click:append-inner="copyContent(distanceModel.inNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">야드</p>
                        <v-text-field
                            label="Yard"
                            variant="outlined"
                            density="comfortable"
                            v-model="distanceModel.ydNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="yd"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="ydFieldUpdateHandler"
                            @click:append-inner="copyContent(distanceModel.ydNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">피트</p>
                        <v-text-field
                            label="Feet"
                            variant="outlined"
                            density="comfortable"
                            v-model="distanceModel.ftNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="ft"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="ftFieldUpdateHandler"
                            @click:append-inner="copyContent(distanceModel.ftNum)"
                        ></v-text-field>

                        <p class="text-h6 mb-2">마일</p>
                        <v-text-field
                            label="Mile"
                            variant="outlined"
                            density="comfortable"
                            v-model="distanceModel.miNum"
                            :counter="24"
                            :maxlength="24"
                            suffix="mi"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="miFieldUpdateHandler"
                            @click:append-inner="copyContent(distanceModel.miNum)"
                        ></v-text-field>
                        
                    </v-col>
                </v-row>
            </v-card-item>
        </v-card>
    </v-container>
</template>

<script setup>
import { ref, defineEmits } from 'vue';

const emit = defineEmits(["copyContent"]);
const copyContent = (content) => {
    emit("copyContent", content);
}

const distanceModel = ref({
    mmNum: 0,
    cmNum: 0,
    mNum: 0,
    kmNum: 0,
    inNum: 0,
    ydNum: 0,
    ftNum: 0,
    miNum: 0
})

const mmFieldUpdateHandler = () => {
    distanceModel.value.cmNum = distanceModel.value.mmNum / 10;
    distanceModel.value.mNum = parseInt(distanceModel.value.mmNum / 1000);
    distanceModel.value.kmNum = parseInt(distanceModel.value.mmNum / 1000000);
    distanceModel.value.inNum = Math.round(distanceModel.value.mmNum * 0.03937007874015748 * 100) / 100;
    distanceModel.value.ydNum = Math.round(distanceModel.value.mmNum * 0.001093613298337708 * 100) / 100;
    distanceModel.value.ftNum = Math.round(distanceModel.value.mmNum * 0.003280839895013123 * 100) / 100;
    distanceModel.value.miNum = Math.round(distanceModel.value.mmNum * 0.000000621371192237334 * 100) / 100;
}

const cmFieldUpdateHandler = () => {
    distanceModel.value.mmNum = distanceModel.value.cmNum * 10;
    distanceModel.value.mNum = parseInt(distanceModel.value.cmNum / 100);
    distanceModel.value.kmNum = parseInt(distanceModel.value.cmNum / 100000);
    distanceModel.value.inNum = Math.round(distanceModel.value.cmNum * 0.3937007874015748 * 100) / 100;
    distanceModel.value.ydNum = Math.round(distanceModel.value.cmNum * 0.01093613298337708 * 100) / 100;
    distanceModel.value.ftNum = Math.round(distanceModel.value.cmNum * 0.03280839895013123 * 100) / 100;
    distanceModel.value.miNum = Math.round(distanceModel.value.cmNum * 0.00000621371192237334 * 100) / 100;
}

const mFieldUpdateHandler = () => {
    distanceModel.value.mmNum = distanceModel.value.mNum * 1000;
    distanceModel.value.cmNum = distanceModel.value.mNum * 100;
    distanceModel.value.kmNum = distanceModel.value.mNum / 1000;
    distanceModel.value.inNum = Math.round(distanceModel.value.mNum * 39.37007874015748 * 100) / 100;
    distanceModel.value.ydNum = Math.round(distanceModel.value.mNum * 1.093613298337708 * 100) / 100;
    distanceModel.value.ftNum = Math.round(distanceModel.value.mNum * 3.280839895013123 * 100) / 100;
    distanceModel.value.miNum = Math.round(distanceModel.value.mNum * 0.000621371192237334 * 100) / 100;
}

const kmFieldUpdateHandler = () => {
    distanceModel.value.mmNum = distanceModel.value.kmNum * 1000000;
    distanceModel.value.cmNum = distanceModel.value.kmNum * 100000;
    distanceModel.value.mNum = distanceModel.value.kmNum * 1000;
    distanceModel.value.inNum = Math.round(distanceModel.value.kmNum * 39370.07874015748 * 100) / 100;
    distanceModel.value.ydNum = Math.round(distanceModel.value.kmNum * 1093.613298337708 * 100) / 100;
    distanceModel.value.ftNum = Math.round(distanceModel.value.kmNum * 3280.839895013123 * 100) / 100;
    distanceModel.value.miNum = Math.round(distanceModel.value.kmNum * 0.621371192237334 * 100) / 100;
}

const inFieldUpdateHandler = () => {
    distanceModel.value.mmNum = Math.round(distanceModel.value.inNum * 25.4 * 100) / 100;
    distanceModel.value.cmNum = Math.round(distanceModel.value.inNum * 2.54 * 100) / 100;
    distanceModel.value.mNum = Math.round(distanceModel.value.inNum * 0.0254 * 100) / 100;
    distanceModel.value.kmNum = Math.round(distanceModel.value.inNum * 0.0000254 * 100) / 100;
    distanceModel.value.ydNum = Math.round(distanceModel.value.inNum * 0.02777777777777778 * 100) / 100;
    distanceModel.value.ftNum = Math.round(distanceModel.value.inNum * 0.08333333333333333 * 100) / 100;
    distanceModel.value.miNum = Math.round(distanceModel.value.inNum * 0.00001578282828282828 * 100) / 100;
}

const ydFieldUpdateHandler = () => {
    distanceModel.value.mmNum = Math.round(distanceModel.value.ydNum * 914.4 * 100) / 100;
    distanceModel.value.cmNum = Math.round(distanceModel.value.ydNum * 91.44 * 100) / 100;
    distanceModel.value.mNum = Math.round(distanceModel.value.ydNum * 0.9144 * 100) / 100;
    distanceModel.value.kmNum = Math.round(distanceModel.value.ydNum * 0.0009144 * 100) / 100;
    distanceModel.value.inNum = distanceModel.value.ydNum * 36;
    distanceModel.value.ftNum = distanceModel.value.ydNum * 3;
    distanceModel.value.miNum = Math.round(distanceModel.value.ydNum * 0.0005681818181818182 * 100) / 100;
}

const ftFieldUpdateHandler = () => {
    distanceModel.value.mmNum = Math.round(distanceModel.value.ftNum * 304.8 * 100) / 100;
    distanceModel.value.cmNum = Math.round(distanceModel.value.ftNum * 30.48 * 100) / 100;
    distanceModel.value.mNum = Math.round(distanceModel.value.ftNum * 0.3048 * 100) / 100;
    distanceModel.value.kmNum = Math.round(distanceModel.value.ftNum * 0.0003048 * 100) / 100;
    distanceModel.value.inNum = distanceModel.value.ftNum * 12;
    distanceModel.value.ydNum = Math.round(distanceModel.value.ftNum * 0.33333333333333333 * 100) / 100;
    distanceModel.value.miNum = Math.round(distanceModel.value.ftNum * 0.0001893939393939394 * 100) / 100;
}

const miFieldUpdateHandler = () => {
    distanceModel.value.mmNum = distanceModel.value.miNum * 1609344;
    distanceModel.value.cmNum = Math.round(distanceModel.value.miNum * 160934.4 * 100) / 100;
    distanceModel.value.mNum = Math.round(distanceModel.value.miNum * 1609.344 * 100) / 100;
    distanceModel.value.kmNum = Math.round(distanceModel.value.miNum * 1.609344 * 100) / 100;
    distanceModel.value.inNum = distanceModel.value.miNum * 63360;
    distanceModel.value.ydNum = distanceModel.value.miNum * 1760;
    distanceModel.value.ftNum = distanceModel.value.miNum * 5280;
}
</script>