<template>
    <v-tabs
        fixed-tabs
        bg-color="indigo-darken-1"
        v-model="tab"
    >
        <v-tab :value="1">
            Main
        </v-tab>
        <v-tab :value="2" v-if="userType === 'ADMIN'">
            Member
        </v-tab>
        <v-tab :value="3" v-if="userType === 'ADMIN'">
            Settlement
        </v-tab>
        <v-tab :value="4">
            Product
        </v-tab>
        <v-tab :value="5" v-if="userType === 'ADMIN'">
            REFERRER
        </v-tab>
    </v-tabs>
    <v-window v-model="tab">
        <v-window-item
            :key="1"
            :value="1"
        >
            <AdminMainView @changeTabs="changeTabs" />
        </v-window-item>
        <v-window-item
            :key="2"
            :value="2"
            v-if="userType === 'ADMIN'"
        >
            <AdminMemberView />
        </v-window-item>
        <v-window-item
            :key="3"
            :value="3"
            v-if="userType === 'ADMIN'"
        >
            <AdminSettlementView />
        </v-window-item>
        <v-window-item
            :key="4"
            :value="4"
        >
            <AdminProductView />
        </v-window-item>
        <v-window-item
            :key="5"
            :value="5"
            v-if="userType === 'ADMIN'"
        >
            <AdminCustomerView />
        </v-window-item>
    </v-window>
</template>

<script setup>
import { ref } from 'vue';
import AdminMainView from '@/components/admin/main/AdminMainView';
import AdminMemberView from '@/components/admin/member/AdminMemberView';
import AdminSettlementView from '@/components/admin/settlement/AdminSettlementView';
import AdminProductView from '@/components/admin/product/AdminProductView';
import AdminCustomerView from '@/components/admin/customer/AdminCustomerView';
import { useAuthStore } from "@/store/auth";

const authStore = useAuthStore();
const userType = authStore.userDetail.userType;

const tab = ref(1);

const changeTabs = (tabNum) => {
    tab.value = tabNum;
}
</script>

<style scoped>

</style>