<template>
    <v-container>
        <v-row no-gutters>
            <v-col align="center">
                <v-img src="@/assets/img/body/pngegg.png" width="500px"></v-img>
                <div class="text-h1">Under Contruction!</div>
                <div class="text-h1 my-6">공사중</div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script setup>

</script>