<template>
    <v-card color="primary" height="100%">
        <v-card-title class="pa-4 text-h5">공지사항</v-card-title>
        <v-card-item>
            <v-skeleton-loader
                class="mx-auto border"
                type="list-item-avatar-two-line, list-item-avatar, list-item-avatar-three-line, list-item-avatar, list-item-avatar-two-line, list-item-avatar"
                v-show="noticeLoading"
            ></v-skeleton-loader>
                <v-list v-show="!noticeLoading">
                    <v-list-item v-for="model in noticeListModel" :key="model.idx" @click="">
                        <v-list-item-title>
                            {{ model.title }}
                        </v-list-item-title>
                        <v-list-item-subtitle>
                            {{ model.regDate }}
                            <span class="text-h8 float-right">자세히보기></span>
                        </v-list-item-subtitle>
                        <v-divider class="mt-1"></v-divider>
                    </v-list-item>
                </v-list>
        </v-card-item>
    </v-card>
</template>
<script setup>
import { ref, onMounted } from 'vue';
import { httpPostAxios } from '@/components/CommonAPI.js';

const noticeLoading = ref(false);
const noticeListModel = ref([]);

onMounted(() => {
    noticeListCallback();
})

const noticeListCallback = () => {
    noticeLoading.value = true;
    const endpoints = "/convatar/api/home/getNoticeModelList"
    httpPostAxios(endpoints).then(res => {
        noticeLoading.value = false;
        if(res.data.code === 0) {
            noticeListModel.value = res.data.DATA;
        } else {
            showAlert('error', res.data.msg);
        }
    });
}
</script>