<template>
    <v-card color="primary">
        <v-card-title class="pa-4 mt-2 text-h4 text-left">
            Latest Release Notes
            <v-btn variant="text" class="text-h6 font-color-subtitle" @click="keepDevinggg()">자세히 보기</v-btn>
        </v-card-title>
        <v-card-item>
            <v-skeleton-loader
            class="mx-auto border"
            type="table-heading, table-row"
            v-show="releaseNotesLoading"
            ></v-skeleton-loader>
            <v-table density="compact" v-show="!releaseNotesLoading">
                <thead>
                    <tr>
                        <th class="text-left" width="7%">
                        ver
                        </th>
                        <th class="text-left" width="73%">
                        내용
                        </th>
                        <th class="text-left" width="20%">
                        반영 일자
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ latestReleaseNotesModel.ver }}</td>
                        <td v-html="latestReleaseNotesModel.contents"></td>
                        <td>{{ latestReleaseNotesModel.regDate }}</td>
                    </tr>
                </tbody>
            </v-table>
        </v-card-item>
    </v-card>
</template>
<script setup>
import { ref, onMounted } from 'vue';
import { httpPostAxios } from '@/components/CommonAPI.js';

const releaseNotesLoading = ref(false);
const releaseNotesListModel = ref([]);
const latestReleaseNotesModel = ref({});

onMounted(() => {
    releaseNotesListCallback();
})

const releaseNotesListCallback = () => {
    releaseNotesLoading.value = true;
    const endpoints = "/convatar/api/home/getConvatarReleaseNotesList"
    httpPostAxios(endpoints).then(res => {
        releaseNotesLoading.value = false;
        if(res.data.code === 0) {
            releaseNotesListModel.value = res.data.DATA;
            latestReleaseNotesModel.value = releaseNotesListModel.value[0];
        } else {
            showAlert('error', res.data.msg);
        }
    });
}
</script>