<template>
    <v-container>
        <v-row>
            <v-col cols="12" align="center">
                <v-card class="mb-4 mobile-display-none" color="primary">
                    <v-card-title class="pa-4 pb-0 text-h5">종합 도구모음 사이트, '컨바타넷'에 오신것을 환영합니다!</v-card-title>
                    <v-card-item class="text-h6">현재 개발중입니다. 불안정한 페이지가 있을 수 있습니다.</v-card-item>
                </v-card>
                <v-card class="desktop-display-none" color="primary">
                    <v-card-title class="text-h6">
                        <p>종합 도구모음 사이트, </p>
                        <p>'컨바타넷'에 오신것을 환영합니다!</p>
                        <v-divider class="ma-2"></v-divider>
                        <p>현재 개발중입니다.</p>
                        <p>불안정한 페이지가 있을 수 있습니다.</p>
                    </v-card-title>
                </v-card>
                <HomeReleaseNotes />
                <div style="max-width: 600px; width: 50%;">
                    <v-img class="relative mt-5" id="logoUpper" v-if="true" src="@/assets/img/body/home/logo_upper.png" width="300px" :style="logoUpperStyle" />
                </div>
                <div>
                    <v-img src="@/assets/img/body/home/logo_lower.png" width="600px" />
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script setup>
import { onBeforeMount, onMounted, ref } from 'vue';
import HomeReleaseNotes from './HomeReleaseNotes.vue';
import HomeNotice from './HomeNotice.vue';

const refreshRotate = ref(0);
const logoUpperStyle = ref({
    top: '20px',
    transform: 'rotate(0deg)',
    transition: 'all ease 2s'
});
onMounted(() => {
    setTimeout(() => {
        logoUpperStyle.value.transform = 'rotate(1080deg)';
    }, "1000");
})
</script>

<style scoped>
.loader-1 {
    display: inline-block;
    -webkit-transform: rotate(1800deg);
    -moz-transform: rotate(1800deg);
    -o-transform: rotate(1800deg); 
    transform: rotate(1800deg);
}
</style>