<template>
    <v-container>
        <v-card class="pa-4 mb-4 text-h4" color="primary">
            금융 > 환전
            <div class="text-h6 font-color-subtitle">여러 국가 사이의 환율을 동시에 제공합니다.</div>
        </v-card>
        <v-card class="pa-2 mb-4 text-h4" color="primary">
            <v-card-title class="text-h5">
                Tip!
                <v-btn class="ml-1" density="comfortable" variant="text" :icon="'mdi-menu-' + (tipToggle ? 'up' : 'down')" @click="tipToggle = !tipToggle"></v-btn>
            </v-card-title>
            <v-expand-transition>
                <div v-if="tipToggle">
                    <v-divider class="mx-4"></v-divider>
                    <v-card-item class="text-h6">
                        <p>- 사용 API: https://github.com/fawazahmed0/currency-api</p>
                        <p>- <span class="bg-green-darken-3">하루에 한번</span> 환율 데이터를 갱신합니다. (<span class="bg-red-darken-2">실시간 X</span>, 뉴욕시간 8시 30분 경 수집)</p>
                        <p>- 보다 정확한 환율 데이터를 얻으시려면 <span class="bg-purple-darken-2">금융권의 데이터</span>를 참조하시기 바랍니다.</p>
                        <p>- 기준 국가는 검색만 해도 선택되나, <span class="bg-indigo-darken-2">상대 국가는 클릭을 해야만 선택</span>됩니다.</p>
                    </v-card-item>
                </div>
            </v-expand-transition>
        </v-card>
        <v-card color="primary">
            <v-card-item class="mt-2">
                <p class="text-h4">기준 국가 선택</p>
                <v-row class="mt-1">
                    <v-col cols="12" md="4">
                        <v-text-field
                            label="검색"
                            prepend-inner-icon="mdi-magnify"
                            density="comfortable"
                            variant="outlined"
                            v-model="searchCountryListLiteral"
                            @update:model-value="searchCountryListInputHandler"
                            hide-details
                        >
                        </v-text-field>
                    </v-col>
                    <v-col cols="12" md="8">
                        <v-select
                        class=""
                        label="기준 국가"
                        density="comfortable"
                        variant="outlined"
                        :loading="countryListLoading"
                        :items="curCountryListModel"
                        :item-title="countryCd === 'KR' ? 'countryNmKR' : 'countryNmEN'"
                        item-value="countryKey"
                        v-model="originCountryModel"
                        :focused="currencyFocusSet.countryList"
                        @update:model-value="originSelectChangeHandler"
                        hide-details
                        return-object
                        ></v-select>
                    </v-col>
                </v-row>
                <v-row class="mt-2">
                    <v-col cols="12">
                        <div v-show="originCountryModel">
                            <p class="my-2 text-h5">
                                {{ countryCd === 'KR' ? originCountryModel.countryNmKR + ' : ' + originCountryModel.currencyNmKR : originCountryModel.currencyNmEN }}
                                <span style="text-transform: uppercase;">{{' (' + originCountryModel.currencyCd + ')' }}</span>
                            </p>
                            <v-text-field
                                :label="originCountryModel.currencyCd"
                                density="comfortable"
                                variant="outlined"
                                v-model="originVolume"
                            >
                            </v-text-field>
                        </div>
                    </v-col>
                </v-row>
            </v-card-item>
            <v-divider class="mb-4"></v-divider>
            <v-card-item>
                <p class="text-h4">상대 국가 선택</p>
                <v-row class="mt-1">
                    <v-col cols="12" md="4">
                        <v-text-field
                            label="검색"
                            prepend-inner-icon="mdi-magnify"
                            density="comfortable"
                            variant="outlined"
                            v-model="searchRelativeCountryListLiteral"
                            @update:model-value="searchRelativeCountryListInputHandler"
                            hide-details
                        >
                        </v-text-field>
                    </v-col>
                    <v-col cols="12" md="8">
                        <v-select
                        label="상대 국가"
                        density="comfortable"
                        variant="outlined"
                        :loading="countryListLoading"
                        :items="curRelativeCountryListModel"
                        :item-title="countryCd === 'KR' ? 'countryNmKR' : 'countryNmEN'"
                        item-value="countryKey"
                        v-model="relativeSelectCountryModel"
                        :focused="currencyFocusSet.countryList"
                        @update:model-value="relativeCountryUpdateHandler"
                        hide-details
                        return-object
                        ></v-select>
                    </v-col>
                </v-row>
            </v-card-item>
            <v-card-item>
                <v-row class="">
                    <v-col cols="12">
                        <div v-for="(model, index) in relativeCountryModelList">
                            <v-divider class="my-4"></v-divider>
                            <div class="my-2">
                                <p class="text-h6 font-color-subtitle">
                                    {{ countryCd === 'KR' ? originCountryModel.countryNmKR + ":" + model.countryNmKR : originCountryModel.countryNmEN + ":" + model.countryNmEN }}
                                </p>
                                <p class="text-h5">
                                    {{ numberComma(Number(originVolume)) }} {{ countryCd === 'KR' ? originCountryModel.currencyNmKR : originCountryModel.currencyNmEN }}
                                    <span style="text-transform: uppercase;">{{' (' + originCountryModel.currencyCd + ') = ' }}</span>
                                </p>
                            </div>
                            <v-text-field 
                                variant="outlined"
                                :label="model.currencyCd"
                                append-icon="mdi-trash-can-outline"
                                append-inner-icon="mdi-content-copy"
                                :suffix="model.currencyCd.toUpperCase()"
                                :model-value="numberComma((originVolume * model.afterRatio).toFixed(2))"
                                :hint="countryCd === 'KR' ? '비율 : 1 ' + originCountryModel.currencyNmKR + ' = ' + numberComma(model.afterRatio.toFixed(2)) + ' ' + model.currencyNmKR : 'Ratio : 1 ' + originCountryModel.currencyNmEN + ' = ' + model.afterRatio.toFixed(2) + ' ' + model.currencyNmEN"
                                @click:append="relativeCountryModelList.splice(index, 1)"
                                @click:append-inner="copyContent((originVolume * model.afterRatio).toFixed(2) + model.currencyCd)"
                                persistent-hint
                                readonly
                            >
                            </v-text-field>
                        </div>
                    </v-col>
                </v-row>
            </v-card-item>
        </v-card>
    </v-container>
</template>

<script setup>
import { ref, onMounted, defineEmits, inject } from 'vue';
import { useDisplay } from 'vuetify';
import { httpPostAxios } from '@/components/CommonAPI.js';
import { numberComma } from '@/common/common.js';

const emit = defineEmits(["copyContent"]);
const copyContent = (content) => {
    emit("copyContent", content);
}

const setAlert = (alertType, alertText) => {
    emit("setAlert", alertType, alertText);
}

const { width } = useDisplay();
const countryCd = inject('countryCd');

const tipToggle = ref(width < 420 ? true : false);

const countryListLoading = ref(true);
const msgModel = ref({
    emptyMsgKR: "검색 결과가 없습니다.",
    emptyMsgEN: "No Search Results."
})

const currencyFocusSet = ref({
    countryList: false
})

// const countryListInitModel = ref();

const searchCountryListLiteral = ref('');
const searchRelativeCountryListLiteral = ref('');
const countryListModel = ref([]);
const curCountryListModel = ref([]);
const curRelativeCountryListModel = ref([]);
const originCountryModel = ref({});
const originVolume = ref(0);

const relativeSelectCountryModel = ref({});
const relativeCountryModelList = ref([]);

onMounted(() => {
    countryListCallback();
})

const countryListCallback = () => {
    countryListLoading.value = true;
    const endpoints = "/convatar/api/currency/getCountryList"
    httpPostAxios(endpoints).then(res => {
        countryListLoading.value = false;
        if(res.data.code === 0) {
            countryListModel.value = res.data.DATA;
            curCountryListModel.value = countryListModel.value;
            curRelativeCountryListModel.value = countryListModel.value;

            // 대한민국으로 초기화
            countryListModel.value.some(model => {
                if(model.countryKey === 'kr') {
                    originCountryModel.value = model;
                    return true;
                }
            })
            relativeSelectCountryModel.value = countryListModel.value[0];

        } else {
            setAlert('error', res.data.msg);
        }
    });
}

const searchCountryListInputHandler = () => {
    if(searchCountryListLiteral.value.length === 0) {
        originCountryModel.value.countryKey = 'kr';
        curCountryListModel.value = countryListModel.value;
        return;
    }
    curCountryListModel.value = [];
    countryListModel.value.forEach(model => {
        if(model.currencyCd.indexOf(searchCountryListLiteral.value) >= 0) {
            curCountryListModel.value.push(model);
            return;
        }
        if(model.countryNmKR.indexOf(searchCountryListLiteral.value) >= 0) {
            curCountryListModel.value.push(model);
            return;
        }
        if(model.countryNmEN.indexOf(searchCountryListLiteral.value) >= 0) {
            curCountryListModel.value.push(model);
            return;
        }
        if(model.currencyNmKR.indexOf(searchCountryListLiteral.value) >= 0) {
            curCountryListModel.value.push(model);
            return;
        }
        if(model.currencyNmEN.indexOf(searchCountryListLiteral.value) >= 0) {
            curCountryListModel.value.push(model);
            return;
        }
        if(model.keywordOne && model.keywordOne.indexOf(searchCountryListLiteral.value) >= 0) {
            curCountryListModel.value.push(model);
            return;
        }
    });
    if(curCountryListModel.value.length > 0) {
        originCountryModel.value = curCountryListModel.value[0];
        originSelectChangeHandler();
    }
}

const originSelectChangeHandler = () => {

    relativeCountryModelList.value.some(model => {
        if(originCountryModel.value.countryKey === model.countryKey) {
            model.afterRatio = 1;
            model.curCurrency = 1;
            return true;
        }
        countryListLoading.value = true;
        const endpoints = "/convatar/api/currency/getEachCountryCurrencyVolume"
        const param = {
            originCountryKey: originCountryModel.value.countryKey,
            relativeCountryKey: model.countryKey
        }
        httpPostAxios(endpoints, param).then(res => {
            countryListLoading.value = false;
            const data = res.data.DATA;
            if(res.data.code === 0) {
                model.today = data.today;
                model.afterRatio = data.afterRatio;
                model.curCurrency = data.curCurrency;
                model.compareYesterday = data.compareYesterday;
            } else {
                setAlert('error', res.data.msg);
            }
        });
    })
}

const searchRelativeCountryListInputHandler = () => {
    if(searchRelativeCountryListLiteral.value.length === 0) {
        curRelativeCountryListModel.value = countryListModel.value;
        return;
    }
    curRelativeCountryListModel.value = [];
    countryListModel.value.forEach(model => {
        if(model.currencyCd.indexOf(searchRelativeCountryListLiteral.value) >= 0) {
            curRelativeCountryListModel.value.push(model);
            return;
        }
        if(model.countryNmKR.indexOf(searchRelativeCountryListLiteral.value) >= 0) {
            curRelativeCountryListModel.value.push(model);
            return;
        }
        if(model.countryNmEN.indexOf(searchRelativeCountryListLiteral.value) >= 0) {
            curRelativeCountryListModel.value.push(model);
            return;
        }
        if(model.currencyNmKR.indexOf(searchRelativeCountryListLiteral.value) >= 0) {
            curRelativeCountryListModel.value.push(model);
            return;
        }
        if(model.currencyNmEN.indexOf(searchRelativeCountryListLiteral.value) >= 0) {
            curRelativeCountryListModel.value.push(model);
            return;
        }
        if(model.keywordOne && model.keywordOne.indexOf(searchRelativeCountryListLiteral.value) >= 0) {
            curRelativeCountryListModel.value.push(model);
            return;
        }
    });
    if(curRelativeCountryListModel.value.length > 0) {
        relativeSelectCountryModel.value = curRelativeCountryListModel.value[0];
    }
}

const relativeCountryUpdateHandler = () => {
    if(originCountryModel.value.countryKey === relativeSelectCountryModel.value.countryKey) {
        setAlert('error', '같은 국가는 선택하실 수 없습니다.');
        return false;
    }

    countryListLoading.value = true;
    const endpoints = "/convatar/api/currency/getEachCountryCurrencyVolume"
    const param = {
        originCountryKey: originCountryModel.value.countryKey,
        relativeCountryKey: relativeSelectCountryModel.value.countryKey
    }
    httpPostAxios(endpoints, param).then(res => {
        countryListLoading.value = false;
        const data = res.data.DATA;
        if(res.data.code === 0) {
            relativeSelectCountryModel.value.today = data.today;
            relativeSelectCountryModel.value.afterRatio = data.afterRatio;
            relativeSelectCountryModel.value.curCurrency = data.curCurrency;
            relativeSelectCountryModel.value.compareYesterday = data.compareYesterday;
            if(relativeCountryModelList.value.indexOf(relativeSelectCountryModel.value) < 0) {
                relativeCountryModelList.value.push(relativeSelectCountryModel.value);
            };
        } else {
            setAlert('error', res.data.msg);
        }
    });
}
</script>