<template>
    <v-container>
        <v-card class="pa-4 mb-4 text-h4" color="primary">
            데이터 > 인코딩 / 디코딩
            <div class="text-h6 font-color-subtitle">각 알고리즘으로 인코딩 하거나 텍스트로 디코딩 할 수 있습니다.</div>
        </v-card>
        <v-card color="primary">
            <v-card-item>
                <v-radio-group inline v-model="incodingType" @update:model-value="incodingTypeUpdateHandler" hide-details>
                    <v-radio class="mr-5" label="ASCII" value="ASCII" selected></v-radio>
                    <v-radio class="mr-5" label="UTF-8" value="UTF-8"></v-radio>
                    <v-radio class="mr-5" label="Base64" value="Base64"></v-radio>
                    <v-radio class="mr-5" label="Unicode" value="Unicode"></v-radio>
                </v-radio-group>
            </v-card-item>
            <v-card-item>
                <v-row>
                    <v-col cols="12">
                        <v-textarea
                        class="mt-2"
                        label="Text"
                        variant="outlined"
                        v-model="inputText"
                        append-inner-icon="mdi-content-copy"
                        @update:model-value="inputTextHandler"
                        @click:append-inner="copyContent(inputText)"
                        counter="255"
                        maxlength="255"
                        no-resize
                        >
                        </v-textarea>
                    </v-col>
                    <v-col cols="12">
                        <v-textarea
                        :label="incodingType"
                        :placeholder="incodingPlaceHolder"
                        variant="outlined"
                        v-model="inputIncode"
                        append-inner-icon="mdi-content-copy"
                        :hint="incodedHint"
                        :bg-color="textBgColor"
                        @update:model-value="inputIncodeHandler"
                        @click:append-inner="copyContent(inputIncode)"
                        counter="255"
                        maxlength="255"
                        persistent-hint
                        no-resize
                        >
                        </v-textarea>
                    </v-col>
                </v-row>
            </v-card-item>
        </v-card>
    </v-container>
</template>
<script setup>
import { ref } from 'vue';
import { defineEmits } from 'vue';

const emit = defineEmits(["copyContent", "setAlert"]);
const copyContent = (content) => {
    emit("copyContent", content);
}

const incodingType = ref('ASCII');
const incodingPlaceHolder = ref('113 119 101 114...');
const inputText = ref('');
const inputIncode = ref('');
const incodedHint = ref('ASCII는 띄어쓰기로 구분합니다.');
const textBgColor = ref('');

const incodingTypeUpdateHandler = () => {
    textBgColor.value = '';
    if(incodingType.value === 'ASCII') {
        textToAscii();
        incodedHint.value = 'ASCII는 띄어쓰기로 구분합니다.';
        incodingPlaceHolder.value = '113 119 101 114 ...';
    } else if(incodingType.value === 'UTF-8') {
        textToURL();
        incodedHint.value = '';
        incodingPlaceHolder.value = '%EC%BB%A8%EB%B0%94%ED%83%80...';
    } else if(incodingType.value === 'Base64') {
        textToBase64();
        incodedHint.value = '8비트 문자열을 지원합니다.';
        incodingPlaceHolder.value = 'Q29udmF0YXI=...';
    } else if(incodingType.value === 'Unicode') {
        textToUnicode();
        incodedHint.value = '';
        incodingPlaceHolder.value = '\\u0071\\u0077\\u0065\\u0072...';
    } else {

    }
}

const inputTextHandler = () => {
    textBgColor.value = '';
    if(incodingType.value === 'ASCII') {
        incodedHint.value = 'ASCII는 띄어쓰기로 구분합니다.';
        textToAscii();
    } else if(incodingType.value === 'UTF-8') {
        textToURL();
    } else if(incodingType.value === 'Base64') {
        incodedHint.value = '8비트 문자열을 지원합니다.';
        textToBase64();
    } else if(incodingType.value === 'Unicode') {
        textToUnicode();
    } else {

    }

}

const inputIncodeHandler = () => {
    textBgColor.value = '';
    if(incodingType.value === 'ASCII') {
        incodedHint.value = 'ASCII는 띄어쓰기로 구분합니다.';
        asciiToText();
    } else if(incodingType.value === 'UTF-8') {
        urlToText();
    } else if(incodingType.value === 'Base64') {
        incodedHint.value = '8비트 문자열을 지원합니다.';
        base64ToText();
    } else if(incodingType.value === 'Unicode') {
        unicodeToText();
    } else {

    }
}

const textToAscii = () => {
    let appendTxt = '';
    inputText.value.split('').forEach((c) => {
        appendTxt += ' ' + c.charCodeAt(0);
    })
    inputIncode.value = appendTxt.substring(1);
}

const asciiToText = () => {
    let appendAscii = '';
    inputIncode.value.split(' ').some(ascii => {
        if(isNaN(ascii)) {
            incodedHint.value = '유효하지 않은 ASCII 형식입니다.';
            textBgColor.value = 'red-darken-4';
            return true;
        }
        try {
            appendAscii += String.fromCodePoint(ascii);
        } catch(e) {
            incodedHint.value = '유효하지 않은 ASCII 형식입니다.';
            textBgColor.value = 'red-darken-4';
            return true;
        }
    })
    inputText.value = appendAscii;
}

const textToURL = () => {
    inputIncode.value = encodeURIComponent(inputText.value);
}

const urlToText = () => {
    if(inputIncode.value.length % 3 === 0) {
        try {
            inputText.value = decodeURIComponent(inputIncode.value);
        } catch(e) {

        }
    }
}

const textToBase64 = () => {
    try {
        inputIncode.value = btoa(inputText.value);
    } catch(e) {
        inputIncode.value = btoa(encodeURIComponent(inputText.value).replace(/%([0-9A-F]{2})/g, function toSolidBytes(match, p1) {
            return String.fromCharCode('0x' + p1);
        }));
    }
}

const base64ToText = () => {
    try {
        inputText.value = atob(inputIncode.value);
        textBgColor.value = '';
    } catch(e) {
        incodedHint.value = '유효하지 않은 Base64 형식입니다.';
        textBgColor.value = 'red-darken-4';
    }
}

const textToUnicode = () => {
    let appendAscii = '';
    for(let i = 0, l = inputText.value.length; i < l; i++) {
        appendAscii += '\\u' + String(inputText.value[i].charCodeAt(0).toString(16)).padStart(4, "0");
    }
    inputIncode.value = appendAscii;
}

const unicodeToText = () => {

    let appendUnicode = '';
    inputIncode.value.split('\\u').some(unicode => {
        if(isNaN(unicode)) {
            incodedHint.value = '유효하지 않은 Unicode 형식입니다.';
            textBgColor.value = 'red-darken-4';
            return true;
        }
        try {
            appendUnicode += String.fromCharCode(parseInt(unicode, 16));
        } catch(e) {
            incodedHint.value = '유효하지 않은 Unicode 형식입니다.';
            textBgColor.value = 'red-darken-4';
            return true;
        }
    })
    inputText.value = appendUnicode.substring(1);

    // inputText.value = String.fromCharCode(parseInt(inputIncode.value, 16));
}
</script>