<template>
    <v-container>
        <v-card class="pa-4 mb-4 text-h4" color="primary">
            데이터 > 시간 포맷
            <div class="text-h6 font-color-subtitle">유닉스 타임스탬프 등 각종 포맷을 제공합니다.</div>
        </v-card>
        <v-card color="primary">
            <v-card-item>
                <v-row>
                    <v-col cols="12" md="6">
                        <v-locale-provider locale="ko">
                            <v-date-picker
                                class="full-width"
                                v-if="width >= 420"
                                show-adjacent-months
                                min-width="360"
                                elevation="5"
                                v-model="pickDateTime"
                                @click="datePickerClickEventHandler"
                            >
                            </v-date-picker>
                        </v-locale-provider>
                    </v-col>
                    <v-col cols="12" md="6">
                        <div class="full-width">

                            <div class="my-5 d-flex" v-if="width >= 420">
                                <v-text-field
                                class="mr-4"
                                label="일자"
                                variant="outlined"
                                density="comfortable"
                                :model-value="dateTimeYMD"
                                v-model="dateTimeYMD"
                                type="date"
                                @update:modelValue="dateFieldChangeEventHandler"
                                ></v-text-field>
                                <v-text-field
                                label="시간"
                                variant="outlined"
                                density="comfortable"
                                :model-value="curTime"
                                v-model="curTime"
                                type="time"
                                @update:modelValue="timeFieldChangeEventHandler"
                                ></v-text-field>
                            </div>

                            <div v-if="width < 420">
                                <v-text-field
                                label="일자"
                                variant="outlined"
                                density="comfortable"
                                :model-value="dateTimeYMD"
                                v-model="dateTimeYMD"
                                type="date"
                                @update:modelValue="dateFieldChangeEventHandler"
                                ></v-text-field>
                                <v-text-field
                                class=""
                                label="시간"
                                variant="outlined"
                                density="comfortable"
                                :model-value="curTime"
                                v-model="curTime"
                                type="time"
                                @update:modelValue="timeFieldChangeEventHandler"
                                ></v-text-field>
                            </div>
                            
                            <v-divider class="mb-5"></v-divider>
                            
                            <p class="mx-2">Unix Timestamp</p>
                            <v-text-field
                            class="mt-2"
                            variant="outlined"
                            density="comfortable"
                            v-model="unixTs"
                            append-inner-icon="mdi-content-copy"
                            @update:modelValue="unixFieldChangeEventHandler"
                            @click:append-inner="copyContent(unixTs)"
                            ></v-text-field>
                            
                            <p class="mx-2">Locale Format</p>
                            <v-text-field
                            class="mt-2"
                            variant="outlined"
                            density="comfortable"
                            v-model="localeFormat"
                            append-inner-icon="mdi-content-copy"
                            readonly="true"
                            @click:append-inner="copyContent(localeFormat)"
                            ></v-text-field>
                            
                            <p class="mx-2">ISO 8601 Format (UTC)</p>
                            <v-text-field
                            class="mt-2"
                            variant="outlined"
                            density="comfortable"
                            v-model="iso8601"
                            append-inner-icon="mdi-content-copy"
                            readonly="true"
                            @click:append-inner="copyContent(iso8601)"
                            ></v-text-field>
                            
                            <p class="mx-2">Timezone</p>
                            <v-text-field
                            class="mt-2"
                            variant="outlined"
                            density="comfortable"
                            v-model="curTimezone"
                            append-inner-icon="mdi-content-copy"
                            readonly="true"
                            @click:append-inner="copyContent(curTimezone)"
                            ></v-text-field>
                            
                        </div>
                    </v-col>
                </v-row>
            </v-card-item>
        </v-card>
    </v-container>
</template>

<script setup>
import { ref, defineEmits } from 'vue';
import { useDisplay } from 'vuetify';
import { dateFormatYMD, getCurrentTime, getTimezone } from '@/common/common.js';

const emit = defineEmits(["copyContent"]);
const copyContent = (content) => {
    emit("copyContent", content);
}

const { width } = useDisplay();
const curDate = new Date();
const curTimezone = ref(getTimezone());

const pickDateTime = ref(curDate);
const dateTimeYMD = ref(dateFormatYMD(pickDateTime.value));
const curTime = ref(getCurrentTime());

const dateTimeYMDT = ref(dateTimeYMD.value + ' ' + curTime.value);

const unixTs = ref(Math.floor(new Date(dateTimeYMDT.value).getTime() / 1000));
const localeFormat = ref(new Date(dateTimeYMDT.value).toLocaleString());
const iso8601 = ref(new Date(dateTimeYMDT.value).toISOString());

const datePickerClickEventHandler = () => {
    dateTimeYMD.value = dateFormatYMD(pickDateTime.value);
    dateTimeYMDT.value = dateTimeYMD.value + ' ' + curTime.value;
    convertUtcToUnixTimestamp(dateTimeYMDT.value);
}

const dateFieldChangeEventHandler = () => {
    pickDateTime.value = new Date(dateTimeYMD.value);
    dateTimeYMDT.value = dateTimeYMD.value + ' ' + curTime.value;
    convertUtcToUnixTimestamp(dateTimeYMDT.value);
}

const timeFieldChangeEventHandler = () => {
    dateTimeYMDT.value = dateTimeYMD.value + ' ' + curTime.value;
    convertUtcToUnixTimestamp(dateTimeYMDT.value);
}

const unixFieldChangeEventHandler = () => {
    pickDateTime.value = new Date(unixTs.value * 1000);
    dateTimeYMD.value = dateFormatYMD(unixTs.value * 1000);
    curTime.value = getCurrentTime(unixTs.value * 1000);
    dateTimeYMDT.value = dateTimeYMD.value + ' ' + curTime.value;
    localeFormat.value = new Date(dateTimeYMDT.value).toLocaleString();
    iso8601.value = new Date(dateTimeYMDT.value).toISOString();
}

const convertUtcToUnixTimestamp = (ymdt) => {
    unixTs.value = Math.floor(new Date(ymdt).getTime() / 1000);
    localeFormat.value = new Date(dateTimeYMDT.value).toLocaleString();
    iso8601.value = new Date(dateTimeYMDT.value).toISOString();
}
</script>