<template>
    <v-app-bar class="app-bar-wrap" color="primary" scroll-behavior="hide" scroll-threshold="30" :elevation="4">
        <v-app-bar-title class="app-bar-wrap-title">
            <v-row no-gutters align="center">
                <v-col cols="2" offset-lg="2">
                    <div class="text-h3 font-weight-thin pa-2">
                        <span @click="goHome" class="mobile-display-none" style="cursor: pointer;">CONVATAR.NET</span>
                        <span @click="goHome" class="desktop-display-none" style="cursor: pointer; line-height: 1rem !important;">CONVATAR.NET</span>
                    </div>
                </v-col>
                <v-col cols="5" md="2" offset-md="4" offset="5" align="right">
                    <span v-if="authStore.isLoggedIn" class="text-h6 font-weight-light text-right" style="vertical-align: middle; cursor: pointer;" @click="toRoute('MyInfoAuth')">#{{ authStore.userDetail.userNm }}</span>
                    <span class="mobile-display-none">
                        <!-- <v-text-field variant="outlined" label="캐릭터명" append-inner-icon="mdi-magnify" density="compact" @click:append-inner="onClick" hide-details></v-text-field> -->
                        <!-- <v-btn v-if="authStore.isLoggedIn" variant="text" rounded="0" style="height: 64px;" @click="signOut">로그아웃</v-btn> -->
                        <!-- <v-divider vertical class="mx-2" style="vertical-align: middle; border-width: 64px thin 0 0"></v-divider> -->
                    </span>
                    <v-btn
                        class="desktop-display-none"
                        icon="mdi-dots-vertical"
                    >
                        <v-icon icon="mdi-dots-vertical"></v-icon>
                        <v-dialog
                            v-model="menuDialog"
                            activator="parent"
                            width="100%"
                            style="top: 0px;"
                        >
                            <v-card rounded="xl">
                                <v-card-title>
                                    <span class="text-h5">MENU</span>
                                </v-card-title>
                                <v-card-text>
                                    <MenuList />
                                    <!-- <v-btn v-if="authStore.isLoggedIn" variant="text" rounded="0" style="width: 100%; height: 50px;" @click="toRoute('MyInfoAuth')">{{ '내 정보' }}</v-btn>
                                    <v-btn v-if="authStore.isLoggedIn" variant="text" rounded="0" style="width: 100%; height: 50px;" @click="signOut">{{ '로그아웃' }}</v-btn> -->
                                </v-card-text>
                                <v-card-actions>
                                    <v-btn color="primary" block @click="menuDialog = false">Close</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-btn>
                </v-col>
            </v-row>
        </v-app-bar-title>
    </v-app-bar>
</template>

<script setup>
import MenuList from '@/layouts/Menu'
import { onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';
import { useAuthStore } from "@/store/auth";
import { useAppStore } from "@/store/app";

const router = useRouter();
const authStore = useAuthStore();
const appStore = useAppStore();

const menuDialog = ref(false);

const goHome = () => {
    if(authStore.userDetail && authStore.userDetail.userType === 'ADMIN') {
        toRoute('Admin');
    } else {
        toRoute('Home');
    }
}

const toRoute = (link) => {
    const to = { name: link };
    router.push(to);
}

const signOut = () => {
    menuDialog.value = false;
    authStore.$reset();
    const to = { name: 'SignIn' };
    router.push(to);
}

onMounted(() => {
    
});
</script>