<template>
  <v-app>
    <AppBar />
    <v-row no-gutters class="pa-0">
        <v-col lg="2">
        </v-col>
        <v-col class="mobile-display-none" cols="2" md="2" lg="1" >
          <div class="float-right" style="width: 160px; position: fixed">
            <MenuList />
          </div>
        </v-col>
        <v-divider class="border-opacity-20" vertical></v-divider>
        <v-col cols="12" md="10" lg="7" xl="6">
          <View />
        </v-col>
        <v-divider class="border-opacity-20" vertical></v-divider>
        <v-col xl="1">
        </v-col>
        <v-divider class="border-opacity-20" vertical></v-divider>
        <v-col lg="2" xl="2">
        </v-col>
    </v-row>
    <Footer />
  </v-app>
</template>

<script setup>
import AppBar from './AppBar.vue'
import Footer from './Footer.vue'
import View from './View.vue'
import MenuList from '@/layouts/Menu'
</script>
