<template>
  <v-footer class="text-center d-flex flex-column" color="primary" :elevation="5" style="max-height: 56px; z-index:9999;">
    <div class="text-black">
      <div class="text-h7 full-width" style="line-height: 1.2rem !important; white-space: pre-line;">Copyright © 2024 <span class="font-weight-bold">dogpoo.net </span>all rights reserved.</div>
    </div>
    <div class="pt-0 text-body-2" v-if="width >= 343" style="color: white">
      This site is optimized for the latest browser.
    </div>
  </v-footer>
</template>

<script setup>
import { useDisplay } from 'vuetify';
const { width } = useDisplay();
</script>