<template>
    <div class="mt-6 text-h6">
        <img src="@/assets/img/logo/android-icon-48x48.png" width="20"/>
        CONVATAR
    </div>
    <v-btn class="text-h6 font-weight-light full-width justify-start mt-2" prepend-icon="mdi-star-outline" size="large" variant="text" @click="parentMenuClickHandler('BOOKMARK')">즐겨찾기</v-btn>
    <v-divider class="border-opacity-30 mx-4 mt-2"></v-divider>
    <v-btn class="text-h6 font-weight-light full-width justify-start mt-2" prepend-icon="mdi-home" size="large" variant="text" @click="toRoute('Home')">홈</v-btn>
    <v-btn class="text-h6 font-weight-light full-width justify-start" prepend-icon="mdi-podium-gold" size="large" variant="text" @click="parentMenuClickHandler('DATA')">데이터</v-btn>
    <div class="d-flex full-width" style="max-width: 100%;">
        <v-divider class="border-opacity-30 ml-4" vertical></v-divider>
        <v-expand-transition>
            <div v-show="showMenuModel.isShowMenuData" style="transition: all 2s;">
                <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('TimeFormatter')">시간 포맷</v-btn>
                <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('IncodeConverter')">인코딩 / 디코딩</v-btn>
                <!-- <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text">암호화 / 복호화</v-btn>
                <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text">XML / JSON</v-btn> -->
            </div>
        </v-expand-transition>
    </div>
    <v-btn class="text-h6 font-weight-light full-width justify-start" prepend-icon="mdi-gauge" size="large" variant="text" @click="parentMenuClickHandler('UNIT')">단위</v-btn>
    <div class="d-flex full-width" style="max-width: 100%;">
        <v-divider class="border-opacity-30 ml-4" vertical></v-divider>
        <v-expand-transition>
            <div v-show="showMenuModel.isShowMenuUnit" style="transition: all 2s;">
                <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('ByteConverter')">데이터 단위</v-btn>
                <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('DistanceConverter')">길이 단위</v-btn>
                <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('AreaConverter')">넓이 단위</v-btn>
                <!-- <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('VolumeConverter')">부피 단위</v-btn>
                <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('WeightConverter')">무게 단위</v-btn>
                <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('TemperatureConverter')">온도 단위</v-btn>
                <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('SpeedConverter')">속도 단위</v-btn> -->
            </div>
        </v-expand-transition>
    </div>
    <v-btn class="text-h6 font-weight-light full-width justify-start" prepend-icon="mdi-numeric" size="large" variant="text" @click="parentMenuClickHandler('NUMBER')">숫자</v-btn>
    <div class="d-flex full-width" style="max-width: 100%;">
        <v-divider class="border-opacity-30 ml-4" vertical></v-divider>
        <v-expand-transition>
            <div v-show="showMenuModel.isShowMenuNumber" style="transition: all 2s;">
                <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('BaseConverter')">진법 변환</v-btn>
            </div>
        </v-expand-transition>
    </div>
    <v-btn class="text-h6 font-weight-light full-width justify-start" prepend-icon="mdi-currency-usd" size="large" variant="text" @click="parentMenuClickHandler('FUND')">금융</v-btn>
    <div class="d-flex full-width" style="max-width: 100%;">
        <v-divider class="border-opacity-30 ml-4" vertical></v-divider>
        <v-expand-transition>
            <div v-show="showMenuModel.isShowMenuCredit" style="transition: all 2s;">
                <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('CurrencyConverter')">환전</v-btn>
                <!-- <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text">이자계산기</v-btn> -->
            </div>
        </v-expand-transition>
    </div>
    <div class="mt-8 d-flex full-width" style="max-width: 100%;">
        <v-btn class="ma-2" icon="mdi-white-balance-sunny" density="comfortable" variant="text" @click="toggleTheme('lighty')"></v-btn>
        <v-divider class="my-3 border-opacity-30" vertical></v-divider>
        <v-btn class="ma-2" icon="mdi-weather-night" density="comfortable" variant="text" @click="toggleTheme('darky')"></v-btn>
    </div>
</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { useAppStore } from "@/store/app";
import { useTheme } from 'vuetify'

const theme = useTheme()

const toggleTheme = (themeNm) => {
    theme.global.name.value = themeNm;
}

const router = useRouter();
const appStore = useAppStore();
const showMenuModel = ref(appStore.showMenuModel);

const closeAllSubmenu = () => { 
    for(const key in showMenuModel.value) {
        showMenuModel.value[key] = false;
    }
}

if('Home' === router.currentRoute.value.name) {
    closeAllSubmenu();
}

const parentMenuClickHandler = (menuNm) => {
    if('DATA' === menuNm) {
        if(!showMenuModel.value.isShowMenuData) closeAllSubmenu();
        showMenuModel.value.isShowMenuData = !showMenuModel.value.isShowMenuData
    } else if('UNIT' === menuNm) {
        if(!showMenuModel.value.isShowMenuUnit) closeAllSubmenu();
        showMenuModel.value.isShowMenuUnit = !showMenuModel.value.isShowMenuUnit
    } else if('NUMBER' === menuNm) {
        if(!showMenuModel.value.isShowMenuNumber) closeAllSubmenu();
        showMenuModel.value.isShowMenuNumber = !showMenuModel.value.isShowMenuNumber
    } else if('FUND' === menuNm) {
        if(!showMenuModel.value.isShowMenuCredit) closeAllSubmenu();
        showMenuModel.value.isShowMenuCredit = !showMenuModel.value.isShowMenuCredit
    } else {

    }
}
</script>