<template>
  <v-main class="pa-0" style="margin-top: 60px;">
    <router-view @copyContent="copyContent" @setAlert="setAlert" />
  </v-main>

  <v-scroll-x-transition>
    <v-snackbar
        v-model="alertModel.isAlert"
        rounded="pill"
        multi-line
        min-width="260"
        width="25%"
        timeout="3000"
        :color="alertModel.alertType"
        style="bottom: 60px;"
    >
        {{ alertModel.alertText }}
        <template v-slot:actions>
            <v-btn
                variant="text"
                icon="mdi-close-circle"
                @click="alertModel.isAlert = false"
            >
            </v-btn>
        </template>
    </v-snackbar>
</v-scroll-x-transition>
</template>

<script setup>
import { ref } from 'vue';
const alertModel = ref({});

const setAlert = (alertType, alertText) => {
  alertModel.value.isAlert = true;
  alertModel.value.alertType = alertType;
  alertModel.value.alertText = alertText;
}

const copyContent = (content) => {
  window.navigator.clipboard.writeText(content);
  setAlert('success', '클립보드에 복사되었습니다.');
}
</script>